.messages-main
  .messages-main__content
    = icon('far fa-envelope',  class: "messages-main__content__fab")
    .messages-main__content__title
      メッセージ
    .messages-main__content__text
      友達やグループに非公開で写真やメッセージを送信できます。
    =link_to "/", class: "messages-main__content__submit" do
      メッセージを送信