.message-chat__main
  .message-chat__main__content
    - @messages.each do |message|
      .message-chat__main__content__chat
        .message-chat__main__content__chat__time
          = message.created_at.strftime("%Y年%-m月%-d日 %-H:%M")
        - if message.user_id == current_user.id
          .message-chat__main__content__chat__comment-current
            = message.content
        - else
          .message-chat__main__content__chat__comment
            = message.content
