.loader-wrap
  .loader
  .loader-text
    Photo
.signIn-background
  .signIn-inner
    .signIn-inner__text
      %p Connect with 
      %p photos 
      %p & conversation
    .signIn-inner__box
      .signIn-main-box
        .signIn-main-box__title
          %h1#users-title-id Photo
        .signIn-main-box__form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = devise_error_messages
            .email-field-box
              =f.email_field :email, class: "signIp-form-field", id: "signIp-form-field-email"
              %label(for="signIp-form-field-email") メールアドレス
            .password-field-box
              =f.password_field :password, class: "signIp-form-field", id: "signIp-form-field-password"
              %label(for="signIp-form-field-password") パスワード
            =f.submit 'ログイン', class: "signIp-form-submit"
      .signUp-box
        .signUp-box__text
          アカウントをお持ちでないですか？
        .signUp-box__link
          %div{"data-turbolinks" => "false"}
            =link_to new_user_registration_path do
              登録する
= render 'shared/footer'
