.signIn-background
  .signIn-main-box
    .signIn-main-box__title
      %h1#users-title-id Photo
    .signIn-main-box__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = devise_error_messages
        =f.email_field :email, placeholder: "メールアドレス", class: "signIp-form-field"
        =f.password_field :password, placeholder: "パスワード", class: "signIp-form-field"
        =f.submit 'ログイン', class: "signIp-form-submit"
  .signUp-box
    .signUp-box__text
      アカウントをお持ちでないですか？
    .signUp-box__link
      =link_to new_user_registration_path do
        登録する
  .download-items
    %p ダウンロード
    .item-icon
      =link_to "#", class: "store-icon" do
        =image_tag src="app-store.svg", class: "btn-app"
      =link_to "#", class: "store-icon" do
        =image_tag src="google-play.svg", class: "btn-google"
= render 'shared/footer'
