= render 'shared/header-profiles'
.exhibitions-background
  = render 'show-top'
  .show-main-box
    .show-main-inner
      %ul.show-main-lists
        %li.show-main-list__current
          =link_to exhibition_path(id: current_user.id) do
            =icon('fas fa-table', class: "lists-icon")
            %span 投稿
        %li.show-main-list
          =link_to save_post_exhibition_path(id: current_user.id) do
            =icon('far fa-bookmark', class: "lists-icon")
            %span 保存済み
        %li.show-main-list
          =link_to tag_post_exhibition_path(id: current_user.id) do
            =icon('far fa-id-card', class: "lists-icon")
            %span タグ付けさせている人
      .show-main-none
        .none-item-icon
          =icon('fas fa-table', class: "posts-icon")
        %h1.none-item-title
          投稿リスト
        .none-item-text
          写真や動画を投稿すると、ここに表示されます。
        -if @user = current_user
          =link_to "#", class: "post-link" do
            %span 投稿する
      -# .show-main-posts
      -#   .show-main-post
      -#     =link_to "#" do
      -#       =image_tag src="お洒落画像４.jpg", class: "show-main-post__image"
      -#   .show-main-post
      -#     =link_to "#" do
      -#       =image_tag src="お洒落画像４.jpg", class: "show-main-post__image"
      -#   .show-main-post
      -#     =link_to "#" do
      -#       =image_tag src="お洒落画像４.jpg", class: "show-main-post__image"
      -#   .show-main-post
      -#     =link_to "#" do
      -#       =image_tag src="お洒落画像４.jpg", class: "show-main-post__image"
= render 'shared/footer'