$('#like-button-<%= @post.id %>').html("<%= escape_javascript(render partial: "likes/like", locals: { post: @post }) %>");

function addHTML(length) {
  let html = `
    ${ length }
    <span>人が「いいね！」しました</span>
  `
  return html;
}

let contentTop = $("#mainber__fab-<%= @post.id %>")
let contentShow = $(".posts__show__main__body__contents__side__right__like__fab")
let like_length = <%= @post.likes.length %>
let html = addHTML(like_length);

contentTop.contents().remove();
contentTop.append(html);

contentShow.contents().remove();
contentShow.append(html);
