.footer
  .footer-inner
    %ui.footer-lists
      %li.footer-list
        =link_to "#" do
          基本データ
      %li.footer-list
        =link_to "#" do
          ヘルプ
      %li.footer-list
        =link_to "#" do
          プレス
      %li.footer-list
        =link_to "#" do
          API
      %li.footer-list
        =link_to "#" do
          求人
      %li.footer-list
        =link_to "#" do
          プライバシー
      %li.footer-list
        =link_to "#" do
          利用規約
      %li.footer-list
        =link_to "#" do
          所在地
      %li.footer-list
        =link_to "#" do
          人気アカウント
      %li.footer-list
        =link_to "#" do
          ハッシュタグ
      %li.footer-list
        =link_to "#" do
          言語
    %span.footer-text
      © 2020 INSTAGRAM FROM FACEBOOK
