.tag
  .tag__header
    .tag__header__back
      =link_to new_post_path do
        =icon('fas fa-times', class: "tag-header-back-icon")
    .tag__header__add
      タグ付けする
    .tag__header__complete
      = link_to new_post_path, class: "tag-complete" do
        完了
  .tag__main
    .tag__main__image
      = image_tag "/BackgroundHomeSummer.jpg", size: "1080x1080", alt: "顔写真1", class: "tag-icon"
  .tag__footer
    タップして友達をタグ付します。