.exhibitions-background{
  background-color: $background;
  width: 100%;
  .show-header-box{
    height: 240px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    .show-header-image{
      height: 100%;
      width: 260px;
      padding: 40px;
      .user-image-box{
        height: 140px;
        width: 140px;
        overflow: hidden;
        border-radius: 50%;
      }
    }
    .show-header-details{
      .show-header-details-top{
        height: 40px;
        margin-top: 40px;
        display: flex;
        &__username{
          font-size: 30px;
          font-family: Ludica Sans Unicode;
          color: $font-basic;
        }
        &__edit{
          margin: 10px 0 0 30px;
          .edit-btn{
            a{
              cursor: pointer;
              padding: 4px 10px;
              font-size: 14px;
              background-color: transparent;
              border: solid 1px $light-gray;
              border-radius: 4px;
              font-weight: bold;
              color: $font-basic;
              text-decoration: none;
            }
          }
        }
        &__option{
          margin: 8px 0 0 30px;
          .option-btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            font-size: 26px;
            color: $font-basic;
          }
          .gray-back{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 200;
            height: 100%;
            width: 100%;
            background-color: #000000a6;
            display: none;
          }
          .option-menu{
            position: fixed;
            top: 180px;
            left: 36%;
            z-index: 250;
            width: 400px;
            border-radius: 10px;
            background-color: $background;
            display: none;
            ul{
              .option-list{
                border-bottom: solid 1px $light-gray;
                line-height: 80px;
                text-align: center;
                a{
                  display: block;
                  height: 80px;
                  text-decoration: none;
                  color: $font-basic;
                }
              }
              .option-list-bottom{
                text-align: center;
                button{
                  height: 70px;
                  width: 100%;
                  font-size: 16px;
                  color: $font-basic;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                  outline: none;
                  padding: 0;
                  appearance: none;
                }
              }
            }
          }
        }
        .show-header-details-top__follow{
          margin-left: 30px;
          display: flex;
          .follow-btn{
            background-color: $button;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0 10px;
            appearance: none;
            color: $background;
            border-radius: 4px;
            font-weight: bold;
            height: 30px;
            margin-top: 8px;
            line-height: 30px;
          }
          .follow-message-btn{
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            color: $font-basic;
            border: solid 1px $light-gray;
            border-radius: 4px;
            line-height: 30px;
            padding: 0 4px;
            margin: 10px 0 0 10px;
            height: 30px;
          }
          .follow-cancel-btn{
            background-color: transparent;
            border: solid 1px $light-gray;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
            appearance: none;
            margin: 10px 0 0 10px;
            height: 30px;
            width: 34px;
          }
          .follow-cancel-window{
            display: none;
            position: fixed;
            top: calc(50% - 200px);
            left: calc(50% - 200px);
            width: 400px;
            border-radius: 10px;
            background-color: $background;
            z-index: 250;
            &__text{
              text-align: center;
              font-size: 18px;
              color: $font-basic;
              padding: 10px 30px;
              font-size: 15px;
              &__user-image{
                border-radius: 50%;
                display: block;
                margin: 20px auto;
              }
            }
            &__btn{
              .follow-cancel{
                height: 50px;
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                color: rgb(255, 72, 0);
                border: none;
                border-top: solid 1px $light-gray;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                padding: 10px;
                appearance: none;
              }
            }
            .cancel-window{
              height: 50px;
              width: 100%;
              font-size: 15px;
              color: $font-basic;
              border: none;
              border-top: solid 1px $light-gray;
              background-color: transparent;
              cursor: pointer;
              outline: none;
              padding: 10px;
              appearance: none;
            }
          }
          .option-btn-other{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            margin-left: 20px;
          }
          .gray-back{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 200;
            height: 100%;
            width: 100%;
            background-color: #000000a6;
            display: none;
          }
          .option-menu{
            position: fixed;
            top: 180px;
            left: 36%;
            z-index: 250;
            width: 400px;
            border-radius: 10px;
            background-color: $background;
            display: none;
            ul{
              .option-list-red{
                border-bottom: solid 1px $light-gray;
                line-height: 80px;
                text-align: center;
                a{
                  display: block;
                  height: 80px;
                  text-decoration: none;
                  color: #ff3c3c;
                }
              }
              .option-list-bottom{
                text-align: center;
                button{
                  width: 100%;
                  height: 70px;
                  font-size: 16px;
                  color: $font-basic;
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                  outline: none;
                  padding: 0;
                  appearance: none;
                }
              }
            }
          }
        }
      }
      .show-header-details-middle{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .post-length{
          color: $font-basic;
          font-weight: bold;
          font-family: Ludica Sans Unicode;
        }
        .follower-length{
          color: $font-basic;
          font-weight: bold;
          font-family: Ludica Sans Unicode;
          margin-left: 20px;
        }
        .follow-length{
          color: $font-basic;
          font-weight: bold;
          font-family: Ludica Sans Unicode;
          margin-left: 20px;
        }
      }
      .show-header-details-bottom{
        margin-top: 20px;
        span{
          color: $font-basic;
          font-size: 17px;
          font-weight: bold;
        }
      }
      .show-header-details-bottom{
        color: $font-basic;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .modal-dialog{
    .modal-content{
      position: fixed;
      top: 100px;
      left: -30%;
      z-index: 10;
      .post-show{
        background-color: $white;
        height: 450px;
        min-width: 785px;
        display: flex;
        &__image{
          &__contents{
            object-fit: cover;
          }
        }
        &__side{
          .show-side-header{
            padding: 16px 12px;
            border-bottom: 1px solid #efefef;
            border-left: 1px solid #efefef;
            height: 72px;
            width: 335px;
            display: flex;
            align-items: center;
            &__icon{
              &__content{
                border-radius: 50%;
              }
            }
            &__name{
              margin-left: 14px;
              width: 256px;
              height: 26px;
              a{
                text-decoration: none;
                color: $font-basic;
              }
            }
            &__fab{
              .option-btn-post{
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
              }
              .gray-back-post{
                position: fixed;
                top: -28px;
                left: -470px;
                z-index: 200;
                height: 100vh;
                width: 130vw;
                background-color: #000000a6;
                display: none;
                .option-menu-post{
                  position: fixed;
                  top: 80px;
                  left: 50px;
                  z-index: 250;
                  width: 400px;
                  border-radius: 10px;
                  background-color: $background;
                  display: none;
                }
              }
            }
          }
          .show-side-content{
            border-left: 1px solid #efefef;
            width: 334px;
            height: 378px;
            &__main{
              width: 311px;
              height: 200px;
              padding: 16px 12px;
              display: flex;
              overflow-y: scroll;
              &__icon{
                margin-right: 18px;
              }
              &__name{
                &__text{
                  height: 206px;
                  width: 241px;
                }
              }
            }
            &__footer{
              border-top: 1px solid #efefef;
              margin-top: 4px;
              padding: 4px 16px 0 16px;
              display: flex;
              &__heart{
                width: 34px;
                position: relative;
                .post-liked{
                  color: rgb(255, 50, 50);
                  font-size: 26px;
                  transition: 0.5s;
                  position: absolute;
                }
                .post-not-like{
                  color: $font-basic;
                  font-size: 26px;
                  transition: 0.5s;
                  position: absolute;
                }
                .post-liked:active{
                  font-size: 35px;
                }
                .post-not-like:active{
                  font-size: 35px;
                }
              }
            }
            &__like{
              display: flex;
              padding: 0 16px;
              margin-bottom: 4px;
              height: 36px;
              &__fab {
                color: #262626;
                font-size: 14px;
                font-weight: 600;
                padding-left: 5px;
              }
            }
            &__time {
              font-size: 10px;
              color: #8e8e8e;
              padding-left: 16px;
            }
            &__comment {
              border-top: 1px solid #efefef;
              padding: 0 16px;
              margin-top: 8px;
              &__box {
                display: flex;
                &__add {
                  width: 246px;
                  height: 18px;
                  border: 0px;
                  outline: none;
                  resize: none;
                  height: 40px;
                  padding-top: 18px;
                }
                &__submit {
                  color: #0095f6;
                  font-size: 14px;
                  border: 0px;
                  background-color: #fff;
                  padding-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .show-main-box{
    .show-main-inner{
      width: 900px;
      margin: 0 auto;
      border-top: solid 1px $light-gray;
      .show-main-lists{
        display: flex;
        justify-content: center;
        .show-main-list{
          font-size: 12px;
          margin-left: 60px;
          padding-top: 15px;
          a{
            text-decoration: none;
            color: $form-font-note;
          }
          &__current{
            font-size: 12px;
            margin-left: 60px;
            padding-top: 15px;
            border-top: solid 1px rgb(66, 66, 66);
            a{
              font-weight: bold;
              text-decoration: none;
              color: $font-basic;
            }
          }
        }
      }
      .show-main-none{
        height: calc(100vh - 430px);
        text-align: center;
        padding-top: 60px;
        .none-item-icon{
          font-size: 36px;
          margin-bottom: 16px;
        }
        .none-item-title{
          font-size: 30px;
          margin-bottom: 14px;
        }
        .none-item-text{
          font-size: 14px;
          margin-bottom: 20px;
        }
        .post-link{
          text-decoration: none;
          color: $background;
          padding: 8px 40px;
          border-radius: 4px;
          background-color: $button;
        }
      }
      .show-main-posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 30px;
        padding-bottom: 20px;
        .black-back{
          background-color: #000000;
          margin: 0 20px 20px 0;
          height: 280px;
          width: 280px;
          .show-main-post{
            position: relative;
            &__image{
              height: 280px;
              width: 280px;
              object-fit: cover;
            }
            &__inner{
              display: none;
              .show-main-details{
                position: absolute;
                top: 120px;
                left: 80px;
                display: flex;
                &__hearts{
                  display: flex;
                  color: $white;
                  margin-right: 30px;
                  &__icon{
                    margin-top: 2px;
                  }
                  &__length{
                    margin-top: 8px;
                  }
                }
                &__comments{
                  display: flex;
                  color: $white;
                  &__length{
                    margin-top: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
