.messages-maincontents {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  background-color: $background;
  &__main {
    width: 935px;
    height: 700px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
    display: flex;
    position: relative;
    .message-chat{
      height: 100%;
      width: 100%;
      background-color: $white;
      &__header {
        width: 100%;
        &__content {
          display: flex;
          padding: 0 20px;
          height: 60px;
          width: 100%;
          border-bottom: 1px solid #dbdbdb;
          align-items: center;
          &__contents {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            line-height: 60px;
            &__left {
              display: flex;
              width: 511px;
              &__icon {
                margin: auto 0;
                margin-left: 8px;
                border-radius: 50%;
              }
              &__username {
                margin-left: 10px;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
        }
      }
      &__main {
        width: 100%;
        height: calc(100% - 60px);
        overflow: scroll;
        padding-bottom: 100px;
        &__content {
          padding: 0 20px 0 20px;
          &__chat {
            position: relative;
            padding-bottom: 100px;
            &__time {
              margin: 10px 0 30px 0;
              color: #8e8e8e;
              font-weight: 400;
              font-size: 12px;
              text-align: center;
            }
            &__comment {
              position: absolute;
              left: 10px;
              word-wrap: break-word;
              max-width: 400px;
              padding: 10px 18px;
              margin-bottom: 8px;
              background-color: #efefef;
              border-radius: 20px;
            }
            &__comment-current{
              position: absolute;
              right: 10px;
              word-wrap: break-word;
              max-width: 400px;
              padding: 10px 18px;
              margin-bottom: 8px;
              background-color: $white;
              border: solid 1px #efefef;
              border-radius: 20px;
            }
          }
        }
      }
      .fa-info-circle {
        font-size: 24px;
      }
      .message-form {
        height: 100px;
        width: calc(100% - 335px);
        background-color: $white;
        padding: 20px 20px;
        box-sizing: border-box;
        position: relative;
        position: absolute;
        bottom: 0;
        &__message {
          width: 550px;
          height: 50px;
          border-radius: 30px;
          outline: none;
          padding: 0 60px 0 20px;
          border: 1px solid #dbdbdb;
        }
        #hidden-user{
          display: none;
        }
        #hidden-room{
          display: none;
        }
        #message-fotm-button{
          cursor: pointer;
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: bold;
          color: $button;
          position: absolute;
          top: 34px;
          right: 40px;
          display: none;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}