.warapper {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.top-maincontents {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
}

// main

.main {
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}
.headber {
  margin-bottom: 24px;
  padding: 16px 0;
  background: #FFF;
  border: 1px solid #dbdbdb;
  border-radius: 5px;

  &__story {
    width: 612px;
    height: 84px;
    &__line {
      height: 100%;
      width: 100%;
      &__human {
        list-style: none;
        display: flex;
        &__sub {
          width: 80px;
          height: 122px;
          padding: 0 4px;
          margin: 4px 0 8px 0;
          text-align: center;
          &__listimage {
            width: 56px;
            height: 56px;
            
          }
          &__listtext {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}


.mainber {
  width: 614px;
  height: 850px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  background-color: #fff;

  
    &__header {
      display: flex;
      &__head {
        padding: 16px;
        height: 27px;
        width: 582px;
        display: flex;
        align-items: center;
        &__image {

        }
        &__name-place {
          margin-left: 14px;
          width: 536px;
          height: 41px;
          &__name {
            font-weight: bold;
            font-size: 12px;
          }
          &__place {
            font-size: 12px;
            color: #262626;
            padding: 2px;
          }
        }
      }
    }
  &__headright {
    width: 40px;
    height: 60px;
    
    
    .fa-ellipsis-h {
      padding: 8px;
      width: 24px;
      font-size: 14px;
      line-height: 40px;
    }
  }
  &__images {

  }
  &__icon {
    padding: 0 16px;
    width: 582px;
    height: 40px;
    display: flex;
    &__heart {
      .fa-heart {
        font-size: 26px;
        padding: 8px;
      }
      .fa-comment {
        font-size: 26px;
        padding: 8px;
      }
      .fa-share-square {
        font-size: 26px;
        padding: 8px;
      }
    }
  }
  &__fab {
    padding: 0 16px;
    margin-bottom: 8px;
    width: 582px;
    height: 20px;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
  }
  &__username {
    padding:  0 16px;
    width: 582px;
    height: 22px;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  &__time {
    padding-left: 16px;
    margin-bottom: 4px;
    color: #8e8e8e;
    font-size: 14px;

  }
  &__comment {
    width: 614px;
    height: 53px;
    margin-top: 4px;
    border-top: 1px solid #efefef;
    align-items: center;
    &__text {
      color: #c7c7c7;
      font-weight: 400;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      margin: 18px 0 -4px 0;
     
    }
  }
}


// mainside

.mainside {
  width: 293px;
  height: 518px;
  &__profile {
    margin: 18px 0 10px 0;
    width: 293px;
    height: 56px;
    &__line {
      padding-left: 5px;
      display: flex;
      &__text {
        margin-left: 20px;
        &__username {
          padding: 2px;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 2px;
          font-weight: bold;
        }
        &__nickname {
          font-size: 12px;
          line-height: 14px;
          padding-left: 2px;
          color: #8e8e8e;
        }
      }
    }
  }
  &__recommended {
    width: 325px;
    height: 321px;
    &__side {
      display: flex;
      padding: 4px 16px;
      margin-top: 12px;

      &__fab {
        color: #8e8e8e;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin: -3px 0 -4px 0;
        width: 233px;
        height: 18px;
      }
      &__look {
        color: #262626;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin: -2px 0 -3px 0;
        width: 60px;
        height: 14px;
      }
    }
    &__user {
      margin-left: 0 0 4px 4px;
      width: 321px;
      height: 286px;
      &__box {
        padding: 8px 0;
        &__content {
          padding: 8px 16px;
          width: 289px;
          height: 42px;
          display: flex;
          &__image {
            margin-right: 12px;

          }
          &__name {
            width: 165px;
            height: 42px;
            &__username {
              color: #262626;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
              margin: -3px 0 -4px 0;
              width: 165px;
              height: 18px;
            }
            &__follower {
              margin-top: 8px;
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              color: #8e8e8e;

            }
          }
          &__follow {
            margin-left: 8px;
            align-items: center;
            color: #0095f6;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            width: 72px;
            height: 18px;
          }
        }
      }
    }
  }
}