.signUp-background{
  width: 100vw;
  background-color: $background;
  display: none;
  padding: 10px 0 30px;
  .signUp-main-box{
    width: 380px;
    background-color: white;
    border: solid 0.5px #c9c9c9;
    margin: 0 auto;
    padding: 20px 40px;
    &__title{
      h1{
        font-size: 50px;
        font-family: 'Sacramento', cursive;
        text-align: center;
      }
    }
    &__heading-text{
      p{
        font-size: 18px;
        font-weight: bold;
        color: $form-font;
        text-align: center;
      }
    }
    &__form{
      .signUp-form-field{
        height: 34px;
        width: 100%;
        margin-bottom: 8px;
        padding: 0 10px;
        background-color: #f7f5f5;
        font-size: 12px;
        border: solid 1px #dfdfdf;
        border-radius: 2px;
        outline: none;
      }
      .signUp-form-field:focus{
        border-color: #bbbbbb;
      }
      .signUp-form-submit{
        height: 30px;
        width: 100%;
        margin-top: 10px;
        background-color: rgb(0,140, 255);
        color: $white;
        font-size: 15px;
        font-weight: bold;
        border-radius: 4px;
        border-style: none;
      }
    }
    &__note{
      margin: 20px 0;
      font-size: 12px;
      color: $form-font-note;
      a{
        text-decoration: none;
        color: $form-font-note;
        font-weight: bold;
      }
    }
  }
  .signIn-box{
    width: 380px;
    background-color: white;
    border: solid 0.5px #c9c9c9;
    margin: 10px auto;
    padding: 20px 50px;
    display: flex;
    &__text{
      font-size: 13px;
    }
    &__link{
      font-size: 13px;
      a{
        text-decoration: none;
        color: rgb(0, 170, 255);
      }
    }
  }
  .download-items{
    width: 300px;
    margin: 20px auto;
    text-align: center;
    p{
      margin-bottom: 20px;
      font-size: 15px;
    }
    a{
      text-decoration: none;
    }
  }
}

.error_msg{
  font-size: 12px;
  color: #ff6666;
  background-color: #fdd7d7;
  border: solid 1px #ff6666;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 4px 10px;
}
