.signIn-background{
  height: calc(100vh - 100px);
  width: 100vw;
  background-image: image-url("camera6.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  .cover1,
  .cover2,
  .cover3 {
    animation: cover 2s cubic-bezier(.4, 0, .2, 1) forwards;
    background: $background;
    height: calc(100%/3);
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .cover1 {
    animation-delay: 1.6s;
    top: 0;
  }

  .cover2 {
    animation-delay: 1.8s;
    top: calc(100%/3);
  }

  .cover3 {
    animation-delay: 2s;
    top: calc(100%/3*2);
  }

  @keyframes cover {
    100% {
      transform: translateX(100%);
    }
  }
  .signIn-inner{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    &__text{
      width: 500px;
      margin: 150px 80px 0 0;
      position: relative;
      &__1{
        width: 480px;
        p{
          color: $white;
          font-size: 60px;
          font-family: 'Hiragino Kaku Gothic Std';
          animation: fadeIn 0.8s backwards;
          animation-delay: 3.6s;
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: $background;
          transform: scaleX(0);
          animation: labelIn 0.8s 0s ease, labelOut 0.3s 0.3s ease;
          animation-delay: 3.6s;
          animation-fill-mode: forwards;
        }
      }
      &__2{
        width: 320px;
        p{
          color: $white;
          font-size: 60px;
          font-family: 'Hiragino Kaku Gothic Std';
          animation: fadeIn 0.8s backwards;
          animation-delay: 3.8s;
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: $background;
          transform: scaleX(0);
          animation: labelIn 0.8s 0s ease, labelOut 0.3s 0.3s ease;
          animation-delay: 3.8s;
          animation-fill-mode: forwards;
        }
      }
      &__3{
        width: 560px;
        p{
          color: $white;
          font-size: 60px;
          font-family: 'Hiragino Kaku Gothic Std';
          animation: fadeIn 0.8s backwards;
          animation-delay: 4s;
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: $background;
          transform: scaleX(0);
          animation: labelIn 0.8s 0s ease, labelOut 0.3s 0.3s ease;
          animation-delay: 4s;
          animation-fill-mode: forwards;
        }
      }
      @keyframes fadeIn{
        0%{
          opacity: 0;
        }
      }
      @keyframes labelIn {
        0% {
          transform-origin: left;
          transform: scaleX(0);
        }
        100% {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
      @keyframes labelOut {
        0% {
          transform-origin: right;
          transform: scaleX(1);
        }
        100% {
          transform-origin: right;
          transform: scaleX(0);
        }
      }
      &__1,
      &__2,
      &__3{
        position: relative;
        display: inline-block;
        height: 80px;
        padding-left: 10px;
        margin-top: 14px;
      }
      &__4{
        width: 190px;
        position: absolute;
        top: 80px;
      }
      &__5{
        width: 150px;
        position: absolute;
        top: 180px;
      }
      &__6{
        width: 130px;
        position: absolute;
        top: 270px;
      }
      &__4,
      &__5,
      &__6{
        font-size: 18px;
        font-weight: bold;
        color: black;
        height: 26px;
        padding: 0 20px;
        p{
          position: relative;
          z-index: 1;
          animation: fadeIn 0.8s backwards;
          animation-delay: 4.2s;
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: rgb(190, 190, 190);
          transform: scaleX(0);
          animation: labelIn 0.8s 0s ease;
          animation-delay: 4.2s;
          animation-fill-mode: forwards;
        }
      }
    }
    &__box{
      position: relative;
      animation: anime1 1.5s ease;
      animation-delay: 2.6s;
      animation-fill-mode: forwards;
      opacity: 0;
      .signIn-main-box{
        width: 380px;
        background-color: white;
        border: solid 0.5px #c9c9c9;
        margin: 0 auto 10px;
        padding: 20px 40px;
        box-shadow: 0 0 8px gray;
        &__title{
          h1{
            font-size: 50px;
            font-family: 'Sacramento', cursive;
            text-align: center;
            margin-bottom: 30px;
          }
        }
        &__form{
          margin-bottom: 20px;
          .signIp-form-field{
            height: 38px;
            width: 100%;
            margin-bottom: 8px;
            padding: 0 10px 0 100px;
            background-color: #f7f5f5;
            font-size: 14px;
            border: solid 1px #dfdfdf;
            border-radius: 2px;
            outline: none;
          }
          .email-field-box{
            position: relative;
            label{
              font-size: 12px;
              color: $form-font-note;
              position: absolute;
              z-index: 1;
              top: 10px;
              left: 8px;
              width: 100%;
              transition: 0.3s;
              letter-spacing: 0.5px;
            }
            #signIp-form-field-email:focus ~ label {
              font-size: 10px;
              top: 0px;
              transition: 0.3s;
              color: $form-font-note;
            }  
          }
          .password-field-box{
            position: relative;
            label{
              font-size: 12px;
              color: $form-font-note;
              position: absolute;
              z-index: 1;
              top: 10px;
              left: 8px;
              width: 100%;
              transition: 0.3s;
              letter-spacing: 0.5px;
            }
            #signIp-form-field-password:focus ~ label {
              font-size: 10px;
              top: 0px;
              transition: 0.3s;
              color: $form-font-note;
            }  
          }
          .signIn-main-box__form:focus{
            border-color: #bbbbbb;
          }
          .signIp-form-submit{
            height: 30px;
            width: 100%;
            margin-top: 10px;
            background-color: #02a1fd9c;
            color: $white;
            font-size: 15px;
            font-weight: bold;
            border-radius: 4px;
            border-style: none;
            pointer-events: none;
          }
        }
        &__testUser{
          .testUser-submit{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            color: rgb(0, 170, 255);
            font-size: 14px;
            margin-left: 200px;
          }
        }
      }
      .signUp-box{
        width: 380px;
        background-color: white;
        border: solid 0.5px #c9c9c9;
        margin: 10px auto;
        padding: 20px 50px;
        display: flex;
        box-shadow: 0 0 8px gray;
        &__text{
          font-size: 13px;
        }
        &__link{
          font-size: 13px;
          a{
            text-decoration: none;
            color: rgb(0, 170, 255);
          }
        }
      }
    }
  }
}
.error_msg{
  font-size: 12px;
  color: #ff6666;
  background-color: #fdd7d7;
  border: solid 1px #ff6666;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 4px 10px;
}

@keyframes anime1 {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}