.signUp-background
  .signUp-inner
    .signUp-main-box
      .signUp-main-box__title
        %h1#users-title-id Photo
      .signUp-main-box__heading-text
        %p 登録して友達の写真や動画をチェックしよう
      .signUp-main-box__form
        =form_with model: @user, url: {controller: "registrations", action: "create"}, local: true do |f|
          = devise_error_messages
          .email-field-box-signUp
            =f.email_field :email, class: "signUp-form-field", id: "signUp-form-field-email"
            %label(for="signUp-form-field-email") メールアドレス
          .nickname-field-box-signUp
            =f.text_field :nickname, class: "signUp-form-field", id: "signUp-form-field-nickname"
            %label(for="signUp-form-field-nickname") ニックネーム
          .username-field-box-signUp
            =f.text_field :username, class: "signUp-form-field", id: "signUp-form-field-username"
            %label(for="signUp-form-field-username") ユーザーネーム
          .password-field-box-signUp
            =f.password_field :password, class: "signUp-form-field", id: "signUp-form-password"
            %label(for="signUp-form-password") パスワード
          =f.submit '登録する', class: "signUp-form-submit"
      .signUp-main-box__note
        %span<> 登録することで、
        =link_to "#" do
          利用規約
        %span<> 、
        =link_to "#" do
          データに関するポリシー
        %span<> 、
        =link_to "#" do
          Cookieポリシー
        %span<> に同意するものとします。
    .signIn-box
      .signIn-box__text
        アカウントをお持ちですか？
      .signIn-box__link
        =link_to new_user_session_path do
          ログインする
    .download-items
      %p ダウンロード
      .item-icon
        =link_to "#", class: "store-icon" do
          =image_tag src="app-store.svg", class: "btn-app"
        =link_to "#", class: "store-icon" do
          =image_tag src="google-play.svg", class: "btn-google"
= render 'shared/footer'